body {
    padding: 0;
    margin: 0;
    display: flex;
}
#gui { 
    position: absolute; 
    left: 0;
    right: 0;
    margin: auto;
}

#bird {
    cursor: url('../images/bird-cursor.png'), default;
}